<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{/home::head}">
    <meta charset="UTF-8">

    <title>Chỉnh sửa dịch vụ</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
<div th:replace="~{/home::header}"></div>

<div class="mx-5 px-5 pt-3">
    <h2 class="text-center fw-bold text-light">Chỉnh sửa dịch vụ</h2>

    <p class="text-center mt-3"><a th:href="@{/}"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Quay lại trang
        chủ</a></p>

    <p class="text-center">
        <a th:href="@{/facility/list}"><i class="fa-solid fa-backward"></i> Quay lại trang danh sách dịch vụ</a>
    </p>

    <div class="d-flex justify-content-center">
        <form class="w-50 border border-2 border-success p-3 rounded formCSS" th:action="@{/facility/update}"
              th:object="${facilityDto}" method="POST">
            <input type="hidden" th:field="*{facilityId}" readonly/>

            <input type="hidden" th:field="*{facilityType.facilityTypeId}" readonly/>
            <div class="form-group">
                <label class="h6">Loại dịch vụ:</label>
                <div class="input-group">
                    <input type="text" class="form-control" th:value="${facilityDto.facilityType.facilityTypeName}"
                           readonly style="background-color: #b6bac2"/>
                    <span class="input-group-text"><i class="fa-solid fa-house-user"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="name" class="h6">Tên dịch vụ:</label>
                <div class="input-group">
                    <input type="text" id="name" class="form-control" placeholder="Nhập tên dịch vụ.."
                           th:field="*{facilityName}" required
                           pattern="^([\p{Lu}][\p{Ll}]{1,8})(\s([\p{Lu}]|[\p{Lu}][\p{Ll}]{1,10})){0,5}( \d*)?$"
                           title="Tên dịch vụ được phép chứa số và các kí tự đầu tiên của mỗi từ phải viết hoa."/>
                    <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="area" class="h6">Diện tích sử dụng (m<sup>2</sup>):</label>
                <div class="input-group">
                    <input type="number" id="area" class="form-control" placeholder="Nhập diện tích sử dụng.."
                           th:field="*{facilityArea}" required pattern="^[1-9]\d*$"
                           title="Diện tích sử dụng phải là số nguyên dương."/>
                    <span class="input-group-text"><i class="fa-solid fa-chart-area"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="cost" class="h6">Chi phí thuê (VNĐ):</label>
                <div class="input-group">
                    <input type="number" id="cost" class="form-control" placeholder="Nhập chi phí thuê.."
                           th:field="*{facilityCost}" required pattern="^[1-9]\d*$"
                           title="Chi phí thê phải là số nguyên dương."/>
                    <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="maxPeople" class="h6">Số người tối đa:</label>
                <div class="input-group">
                    <input type="number" id="maxPeople" class="form-control" placeholder="Nhập số người tối đa.."
                           th:field="*{facilityMaxPeople}" required pattern="^[1-9]\d*$"
                           title="Số người tối đa phải là số nguyên dương."/>
                    <span class="input-group-text"><i class="fa-solid fa-person"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group" th:if="${facilityDto.facilityType.facilityTypeId != 3}">
                <label for="standardRoom" class="h6">Tiêu chuẩn phòng:</label>
                <div class="input-group">
                    <input type="text" id="standardRoom" class="form-control" placeholder="Nhập tiêu chuẩn phòng.."
                           th:field="*{facilityStandardRoom}"/>
                    <span class="input-group-text"><i class="fa-solid fa-star"></i></span>
                </div>
            </div>
            <input type="hidden" th:if="${facilityDto.facilityType.facilityTypeId == 3}" th:field="*{facilityStandardRoom}"
                   th:value="${''}"/>

            <div class="mt-3 form-group" th:if="${facilityDto.facilityType.facilityTypeId != 3}">
                <label for="description" class="h6">Mô tả tiện nghi khác:</label>
                <div class="input-group">
                    <input type="text" id="description" class="form-control" placeholder="Nhập mô tả tiện nghi khác.."
                           th:field="*{facilityDescriptionOtherConvenience}"/>
                    <span class="input-group-text"><i class="fa-solid fa-book"></i></span>
                </div>
            </div>
            <input type="hidden" th:if="${facilityDto.facilityType.facilityTypeId == 3}"
                   th:field="*{facilityDescriptionOtherConvenience}" th:value="${''}"/>

            <div class="mt-3 form-group" th:if="${facilityDto.facilityType.facilityTypeId == 1}">
                <label for="poolArea" class="h6">Diện tích hồ bơi (m<sup>2</sup>):</label>
                <div class="input-group">
                    <input type="number" id="poolArea" class="form-control" placeholder="Nhập diện tích hồ bơi.."
                           th:field="*{facilityPoolArea}"/>
                    <span class="input-group-text"><i class="fa-solid fa-person-swimming"></i></span>
                </div>
            </div>
            <input type="hidden" th:if="${facilityDto.facilityType.facilityTypeId != 1}" th:field="*{facilityPoolArea}"
                   th:value="${''}"/>

            <div class="mt-3 form-group" th:if="${facilityDto.facilityType.facilityTypeId != 3}">
                <label for="numberOfFloors" class="h6">Số tầng:</label>
                <div class="input-group">
                    <input type="number" id="numberOfFloors" class="form-control" placeholder="Nhập số tầng.."
                           th:field="*{facilityNumberOfFloors}"/>
                    <span class="input-group-text"><i class="fa-solid fa-building"></i></span>
                </div>
            </div>
            <input type="hidden" th:if="${facilityDto.facilityType.facilityTypeId == 3}" th:field="*{facilityNumberOfFloors}"
                   th:value="${''}"/>

            <div class="mt-3 form-group" th:if="${facilityDto.facilityType.facilityTypeId == 3}">
                <label for="facilityFree" class="h6">Dịch vụ miễn phí đi kèm:</label>
                <p style="color: red" th:if="${#fields.hasErrors('facilityFree')}" th:errors="*{facilityFree}"></p>
                <div class="input-group">
                    <input type="text" id="facilityFree" class="form-control"
                           placeholder="Nhập dịch vụ miễn phí đi kèm.." th:field="*{facilityFree}"/>
                    <span class="input-group-text"><i class="fa-solid fa-gift"></i></span>
                </div>
            </div>
            <input type="hidden" th:if="${facilityDto.facilityType.facilityTypeId != 3}" th:field="*{facilityFree}"
                   th:value="${''}"/>

            <div class="mt-3 form-group">
                <label class="h6" for="rentType">Kiểu thuê:</label>
                <div class="input-group">
                    <select id="rentType" class="form-control" th:field="*{rentType.rentTypeId}">
                        <option th:each="item : ${rentTypeList}" th:value="${item.rentTypeId}"
                                th:text="${item.rentTypeName}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-business-time"></i></span>
                </div>
            </div>

            <div class="mt-3 text-center">
                <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                    -- Lưu <i class="fa-solid fa-floppy-disk"></i> --
                </button>
            </div>
        </form>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</html>