<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/layout :: head">-->
<body>
<h3>Blog</h3>
<p>
    <a th:href="@{create}">ADD Blog</a>
</p>
<form th:action="@{/}" method="get" style="width: 30%">
    <span>
        <input type="text" name="name">
        <button type="submit">Search</button>
    </span>
</form>

<table border="1px">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>DateOfBirth</th>
        <th>Gender</th>
        <th>Id Card</th>
        <th>Phone Number</th>
        <th>Email </th>
        <th>Address </th>
        <th>Customer Type </th>
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
<!--        <th>View</th>-->
    </tr>
    <tr th:each="customer, status : ${customers}">
        <td th:text="${customers.number * 3 + status.count}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerDateOfBirth}"></td>
        <td th:text="${customer.customerGender}"></td>
        <td th:text="${customer.customerIdCard}"></td>
        <td th:text="${customer.customerPhoneNumber}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:if="${customer.customerId}" th:text="${customer.customerType.customerTypeName}"></td>
        <td th:unless="${customer.customerType}">non</td>
<!--        <td><a th:href="@{/{id}/edit(id=${blog.id})}">Edit</a></td>-->
<!--        <td><a th:href="@{/{id}/delete(id=${blog.id})}">Delete</a></td>-->
<!--        <td><a th:href="@{/{id}/view(id=${blog.id})}">Content</a></td>-->
    </tr>
</table>
<div>
    <a th:href="@{'/'(page = ${customers.number -1 } ,search=${search})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number+1}"></span>/
    <span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/'(page = ${customers.number +1 }, search=${search})}" th:if="${customers.hasNext()}">Next</a>
</div>
<!--<footer th:replace="/layout :: footer"></footer>-->
</body>
</html>