<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
        <title>Home</title>
        <style>
            table {
                border: solid 3px;
            }

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
<body>
<div th:replace="~{/home::header}"></div>
<div class="p-3">
    <h2 class="text-center fw-bold">DANH SÁCH KHÁCH HÀNG</h2>
    <div th:if="${mess}">
        <div class="justify-content-center d-flex">
            <div class="alert alert-success alert-dismissible fade show w-50 text-center">
                <strong th:text="${mess}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg pb-0 mb-0">
        <div class="container-fluid">
            <a th:href="@{/customer/create}">
                <button class="btn btn-success btn-outline-secondary btn-sm">
                    <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
                    <span class="text-light"> Thêm Mới Khách Hàng</span>
                </button>
            </a>

            <form class="d-flex my-2" role="search" th:action="@{/customer/list}">
                <input class="form-control me-2" th:value="${nameSearch}" type="text" placeholder="Tìm Kiếm Tên"
                       aria-label="Search"
                       name="nameSearch">

                <input class="form-control me-2" type="text" th:value="${addressSearch}" placeholder="Tìm Kiếm Địa Chỉ"
                       aria-label="Search"
                       name="addressSearch">


                <input class="form-control me-2" type="text" th:value="${phoneSearch}"
                       placeholder="Tìm Kiến Số Điện Thoại" aria-label="Search"
                       name="phoneSearch">

                <button class="btn btn-outline-success" type="submit" name="action" value="search">
                    <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </nav>


    <table class="table table-striped table-bordered" id="customerTable">
        <thead class="table-dark">
        <tr>
            <th>STT</th>
            <th>Tên Khách Hàng</th>
            <th>Ngày Sinh</th>
            <th>Giới Tính</th>
            <th>CCCD/CMND</th>
            <th>Số Điện Thoại</th>
            <th>Email</th>
            <th>Địa Chỉ</th>
            <th>Loại Khách Hàng</th>
            <th>Sửa</th>
            <th>Xóa</th>
            <th>Thông tin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, status : ${customerList}">
            <td th:text="${customerList.number * 5 + status.count}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerDateOfBirth}"></td>
            <td th:if="${customer.customerGender==0}" th:text="Nam"></td>
            <td th:if="${customer.customerGender==1}" th:text="Nữ"></td>
            <td th:if="${customer.customerGender==2}" th:text="LGBT"></td>
            <td th:text="${customer.customerIdCard}"></td>
            <td th:text="${customer.customerPhoneNumber}"></td>
            <td th:text="${customer.customerEmail}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td th:if="${customer.customerId}" th:text="${customer.customerType.customerTypeName}"></td>
            <td th:unless="${customer.customerType}"></td>
            <td class="text-center">
                <a th:href="@{/customer/edit/__${customer.customerId}__}">
                    <button class="btn btn-success btn-outline-secondary btn-sm">
                        <span class="fa-solid fa-user-pen text-light h6 m-auto px-2"></span>
                    </button>
                </a>
            </td>
            <td class="text-center">
                <button th:attr="onclick=|deleteCustomer('${customer.customerId}', '${customer.customerName}')|"
                        class="btn btn-danger btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteCustomer">
                    <span class="fa-solid fa-person-circle-minus text-light h6 m-auto px-2"></span>
                </button>
            </td>
            <td class="text-center">
                <button th:attr="onclick=|viewCustomer('${customer.customerName}', '${customer.customerDateOfBirth}',
                '${customer.customerGender}', '${customer.customerIdCard}', '${customer.customerPhoneNumber}',
                '${customer.customerEmail}', '${customer.customerAddress}',
                '${customer.customerType.customerTypeName}')|"
                        class="btn btn-warning btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#viewCustomer">
                    <span class="fa-solid fa-user text-light h6 m-auto px-2"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form th:action="@{/customer/delete}">
                    <div class="modal-body">
                        <span class="h6">Khách hàng:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
                        <input type="hidden" name="idDelete" id="idDelete" readonly/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="exampleModalLabel2">Thông tin khách hàng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table class="table table-success table-striped">
                    <tr>
                        <td class="h6 pe-3">Tên khách hàng:</td>
                        <td id="name" class="text-primary h6"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Ngày sinh:</td>
                        <td id="birthday" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Giới tính:</td>
                        <td id="gender" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Số CMND/CCCD:</td>
                        <td id="idCard" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Số điện thoại:</td>
                        <td id="phone" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Email:</td>
                        <td id="email" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Địa chỉ:</td>
                        <td id="address" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Loại khách:</td>
                        <td id="type" class="text-primary"></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:href="@{'/customer/list'(page=${customerList.number - 1}, nameSearch=${nameSearch}, addressSearch=${addressSearch},
    phoneSearch=${phoneSearch})}" th:if="${customerList.hasPrevious()}" aria-label="Previous">
                <span aria-hidden="true">&laquo; Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" th:text="${customerList.number }"
                                 th:href="@{'/customer/list'(page=${customerList.number - 1}, nameSearch=${nameSearch}, addressSearch=${addressSearch},
    phoneSearch=${phoneSearch})}" th:if="${customerList.hasPrevious()}"></a></li>
        <li class="page-item"><a class="page-link" th:text="${customerList.number + 1}"></a></li>
        <li class="page-item"><a class="page-link" th:text="${customerList.number + 2}"
                                 th:href="@{'/customer/list'(page=${customerList.number + 1},nameSearch=${nameSearch},addressSearch=${addressSearch},
    phoneSearch=${phoneSearch})}" th:if="${customerList.hasNext()}"></a></li>
        <!--        <li class="page-item"><a class="page-link" th:text="${customerList.totalPages}"></a></li>-->
        <li class="page-item">
            <a class="page-link" th:href="@{'/customer/list'(page=${customerList.number + 1},nameSearch=${nameSearch},addressSearch=${addressSearch},
    phoneSearch=${phoneSearch})}" th:if="${customerList.hasNext()}" aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<!--<a th:href="@{/}"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Back to HOME</a>-->
<!--</div>-->
<script>

</script>

<script src="jquery/jquery-3.5.1.min.js"></script>
<script src="datatables/js/jquery.dataTables.min.js"></script>
<script src="datatables/js/dataTables.bootstrap4.min.js"></script>
<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
        debugger
    }

    function viewCustomer(name, birthday, gender, idCard, phone, email, address, type) {
        document.getElementById("name").innerText = name;
        document.getElementById("birthday").innerText = birthday;
        if (gender == 0) {
            document.getElementById("gender").innerText = "Nam";
        } else if (gender == 1) {
            document.getElementById("gender").innerText = "Nữ";
        } else {
            document.getElementById("gender").innerText = "LGBT";
        }
        document.getElementById("idCard").innerText = idCard;
        document.getElementById("phone").innerText = phone;
        document.getElementById("email").innerText = email;
        document.getElementById("address").innerText = address;
        document.getElementById("type").innerText = type;
        debugger
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>