<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h3>ADD New Music</h3>
<p>
    <a th:href="@{/}"> Black to Music List</a>
</p>
<div id="form">
    <form th:action="@{save}" th:object="${musicList}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name Music</label>
            <input type="text" th:field="*{nameMusic}">
        </div>
        <div>
            <label>Performing Artist</label>
            <input type="text" th:field="*{performingArtist}">
        </div>
        <div>
            <label>Kind Of Music</label>
            <input type="text" th:field="*{kindOfMusic}">
        </div>
        <div>
            <label>Song File Path</label>
            <input type="text" th:field="*{songFilePath}">
        </div>
        <div>
            <input type="submit" value="save">
        </div>
    </form>
</div>
</body>
</html>