<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <p>
        <a href="/">Trở Về Sản Phẩm</a>
    </p>
    <div class="row">
        <table class="table" th:if="${cartDto!=null && cartDto.getProductMap().size()>0}">
            <tr>
                <th>sst</th>
                <th>Tên</th>
                <th>Hình Ảnh</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Tăng Số Lượng</th>
                <th>Giảm Số Lượng</th>
                <th>Tổng Tiền</th>

            </tr>
            <tr th:each="productMap, status: ${cartDto.productMap}">
                <td th:text="${status.count}"></td>
                <td th:text="${productMap.key.name}">Bình Hoa</td>
                <td>
                    <img th:src="${productMap.key.img}" style="width: 70px;height: auto">
                </td>
                <td th:text="${productMap.key.price}">150000</td>
                <td th:text="${productMap.value}">10</td>
                <td>
                    <a class="btn btn-success" role="button" th:href="@{/save/{id}(id=${productMap.key.id})}"
                       style="color: red;background-color: green">+</a>
                </td>
                <td>
                    <a class="btn btn-success" role="button" th:href="@{/delete/{id}(id=${productMap.key.id})}"
                       style="color: red;background-color: green">-</a>
                </td>
            </tr>
            <tr>

                <td colspan="4"> Tổng Tiền</td>
                <td></td>
                <td></td>
                <td th:text="${cartDto.totalPayment()}"></td>
                <td>-</td>
            </tr>
        </table>
        <div class="alert alert-warning" role="alert"
             th:if="${cartDto == null || cartDto.getProductMap().size()==0}"> Cart Empty
        </div>
    </div>
</div>
</body>
</html>