<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/">Trở Về Sản Phẩm</a>
</p>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{${product.img}}" class="img-fluid rounded-start" style="width: 300px; height: 300px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                     <p class="card-text" th:text="${product.description}"></p>
                   <b>Giá:</b><strong class="card-text" th:text="${product.price}"> </strong>
                    <p class="card-text"><small class="text-muted"> last Updated 5 Mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>