<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Add new Customer</title>
    <style>
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="mx-5 px-5 pt-3">
    <h2 class="text-center fw-bold">Thêm Mới Nhân Viên</h2>
    <div class="d-flex justify-content-center">

        <form class="w-50 border border-info p-3" th:action="@{/employee/save}" th:object="${employeeDto}"
              method="post">
            <div class="form-group">
                <label for="name" class="h6">Tên Nhân Viên:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></p>
                <input type="text" id="name" class="form-control" placeholder="Nhập Tên: " name="name"
                       th:field="*{employeeName}">
            </div>

            <div class="mt-3 form-group">
                <label for="dateOfBirth" class="h6">Ngày Sinh:</label>
                <input type="date" id="dateOfBirth" class="form-control" th:field="*{employeeDateOfBirth}"/>
            </div>

            <div class="mt-3 form-group">
                <label for="idCard" class="h6">CCND/CMND:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"></p>
                <input type="number" id="idCard" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard"
                       th:field="*{employeeIdCard}">
            </div>

            <div class="mt-3 form-group">
                <label for="salary" class="h6">Lương:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"></p>
                <input type="number" id="salary" class="form-control" placeholder="Nhập Lương..." name="salary"
                       th:field="*{employeeSalary}">
            </div>

            <div class="mt-3 form-group">
                <label for="phone" class="h6">Số Điện Thoại:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeePhoneNumber')}" th:errors="*{employeePhoneNumber}"></p>
                <input type="text" id="phone" class="form-control" placeholder="Nhập Số Điện Thoại" name="phone"
                       th:field="*{employeePhoneNumber}">
            </div>

            <div class="mt-3 form-group">
                <label for="email" class="h6">Email:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"></p>
                <input type="text" id="email" class="form-control" placeholder="Nhập Email" name="email"
                       th:field="*{employeeEmail}">
            </div>

            <div class="mt-3 form-group">
                <label for="address" class="h6">Địa Chỉ:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeAddress')}" th:errors="*{employeeAddress}"></p>
                <input type="text" id="address" class="form-control" placeholder="Nhập Địa Chỉ" name="address"
                       th:field="*{employeeAddress}">
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="position">Vị Trí:</label>
                <div class="input-group">
                    <select id="position" class="form-control" th:field="*{position.positionId}">
                        <option th:each="item : ${positionList}" th:value="${item.positionId}"
                                th:text="${item.positionName}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="educationDegree">Học Vấn:</label>
                <div class="input-group">
                    <select id="educationDegree" class="form-control" th:field="*{educationDegree.educationDegreeId}">
                        <option th:each="item : ${educationDegreeList}" th:value="${item.educationDegreeId}"
                                th:text="${item.educationDegreeName}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="division">Bộ Phận:</label>
                <div class="input-group">
                    <select id="division" class="form-select" th:field="*{division.divisionId}">
                        <option th:each="item : ${divisionList}" th:value="${item.divisionId}"
                                th:text="${item.divisionName}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 text-center">
                <button class="btn btn-info btn-sm">Lưu</button>
            </div>
        </form>
    </div>

    <p class="text-center">
        <a th:href="@{/customer/list}"><i class="fa-solid fa-backward"></i> Quay lại trang danh sách khách hàng</a>
    </p>

    <p class="text-center mt-3"><a th:href="@{/}"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Quay lại trang
        chủ</a></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>