<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">

<title>Chỉnh sửa Nhân Viên</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>

<div class="mx-5 px-5 pt-3">
    <h2 class="text-center fw-bold text-light">Chỉnh sửa nhân viên</h2>


    <p class="text-center">
        <a th:href="@{/employee/list}"><i class="fa-solid fa-backward"></i> Quay lại trang danh sách nhân viên</a>
    </p>

    <div class="d-flex justify-content-center">

        <form class="w-50 border border-2 border-success p-3 rounded formCSS" th:action="@{/employee/update}"
              th:object="${employeeDto}" method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{employeeId}" readonly/>

            <div class="form-group">
                <label for="name" class="h6">Tên nhân viên:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></p>
                <div class="input-group">
                    <input type="text" id="name" class="form-control" placeholder="Nhập tên nhân viên.."
                           th:field="*{employeeName}"/>
                    <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="dateOfBirth" class="h6">Ngày sinh:</label>
                <input type="date" id="dateOfBirth" class="form-control" th:field="*{employeeDateOfBirth}"/>
            </div>


            <div class="mt-3 form-group">
                <label for="idCard" class="h6">Số CMND/CCCD:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"></p>
                <div class="input-group">
                    <input type="text" id="idCard" class="form-control" placeholder="Nhập số CMND/CCCD.."
                           th:field="*{employeeIdCard}"/>
                    <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="salary" class="h6">Lương:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"></p>
                <div class="input-group">
                    <input type="text" id="salary" class="form-control" placeholder="Lương.."
                           th:field="*{employeeSalary}"/>
                    <span class="input-group-text"><i class="fa-solid fa-square-phone"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="phone" class="h6">số điện thoại:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeePhoneNumber')}"
                   th:errors="*{employeePhoneNumber}"></p>
                <div class="input-group">
                    <input type="text" id="phone" class="form-control" placeholder="Số Điện Thoại.."
                           th:field="*{employeePhoneNumber}"/>
                    <span class="input-group-text"><i class="fa-solid fa-square-phone"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="email" class="h6">Email:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"></p>
                <div class="input-group">
                    <input type="text" id="email" class="form-control" placeholder="Nhập email.."
                           th:field="*{employeeEmail}"/>
                    <span class="input-group-text"><i class="fa-solid fa-envelope-circle-check"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="address" class="h6">Địa chỉ:</label>
                <p style="color: red" th:if="${#fields.hasErrors('employeeAddress')}"
                   th:errors="*{employeeAddress}"></p>
                <div class="input-group">
                    <input type="text" id="address" class="form-control" placeholder="Nhập địa chỉ.."
                           th:field="*{employeeAddress}"/>
                    <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="position">Vị Trí:</label>
                <div class="input-group">
                    <select id="position" class="form-control" th:field="*{position.positionId}">
                        <option th:each="item : ${positionList}" th:value="${item.positionId}"
                                th:text="${item.positionName}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="educationDegree">Học Vấn:</label>
                <div class="input-group">
                    <select id="educationDegree" class="form-control" th:field="*{educationDegree.educationDegreeId}">
                        <option th:each="item : ${educationDegreeList}" th:value="${item.educationDegreeId}"
                                th:text="${item.educationDegreeName}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="division">Bộ Phận:</label>
                <div class="input-group">
                    <select id="division" class="form-control" th:field="*{division.divisionId}">
                        <option th:each="item : ${divisionList}" th:value="${item.divisionId}"
                                th:text="${item.divisionName}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 text-center">
                <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                    -- Lưu <i class="fa-solid fa-floppy-disk"></i> --
                </button>
            </div>
        </form>
    </div>
</div>
<br>

<p class="text-center">
    <a th:href="@{/employee/list}"><i class="fa-solid fa-backward"></i> Quay lại trang danh sách nhân viên</a>
</p>

<p class="text-center mt-3"><a th:href="@{/}"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Quay lại trang
    chủ</a></p>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</html>