<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tr>
            <td>Tên Đăng Nhập: </td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>Mật Khẩu: </td>
            <td>
                <input type="text" name="password">
            </td>
        </tr>
        <tr>
            <td>Duy Trì Đăng Nhập</td>
            <td>
                <input type="checkbox" name="remember-me">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Đăng Nhập </button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>